html, body {
    min-height: 100%;
    min-width: 100%;
}

/*@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat-Bold.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat-Black.ttf) format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat-Bold.ttf) format('ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url(./assets/fonts/Lora-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
*/
body {
    font-family: 'Montserrat';
    font-smoothing: antialiased;
    font-weight: 600;
}
